
    body {
     background-color: aliceblue;
    }
    .container {
      width: 400px;
      margin: 50px auto;
      background: white;
      padding: 20px;
      border-radius: 6px;
    }
    textarea, input, button {
      width: 100%;
      margin: 8px 0;
      padding: 8px;
    }
    button {
      background: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    .result {
      margin-top: 10px;
      color: green;
      word-break: break-all;
    }
  